<div class="container">
  <h4>All devices ({{ devices.length }})</h4>
<br/>
  <div class="input-field ">
        <i class="mdi-action-search prefix"></i>
         <input ng-model="searchText" id="search" type="text" class="validate">
         <label for="search">Search a device</label>
  </div>

  <ul ng-show=" devices.length " class="collection">
    <a href="#/device/{{ device.app.app_key }}/{{device.device_key}}" class="collection-item" ng-repeat="device in devices | filter:searchText ">
      <h5>{{ device.name }} <span class=" badge">{{device.app.name}}</span></h5>
    </a>
  </ul>
</div>
