<div class="container">
  <br>
  <br>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" ng-model="email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate" ng-model="password">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s6">
          <input id="passwordrepeat" type="password" class="validate" ng-model="passwordrepeat">
          <label for="passwordrepeat">Repeat password</label>
        </div>
      </div>
      <div class="row"  >
        <button ng-click="submit()" class="btn waves-effect waves-light col s12" >Submit
          <i class="mdi-content-send right"></i>
        </button>
      </div>
    </form>
  </div>
  <br>
  <br>
</div>
